<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreeningDeveloper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA1B87741F2D6CB7004A17DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA1B87881F2D6CB7004A17DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA1B87931F2D6CB7004A17DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
